= content_for :email_body do
  %p= t('.description', name: @params[:name], user_email: @params[:user_email])

  %strong= "#{t('.label_events')}:"
  %ul
    - @params[:events].each do |event|
      %li
        %strong= "#{t('.label_start_date')}: "
        %span= event[:start_date]
        %br

        %strong= "#{t('.label_end_date')}: "
        %span= event[:end_date]
        %br
        %br
